<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>风控管理客户详情（<%= userInfo.projectName%>-<%= userInfo.name%>）</title>
  <link rel="stylesheet" href="<%= SITE_URL%>/css/customer-detail.css">
  <%# watermark%>
  <script>
    const setWatermark = (str) => {
      let id = '1.23452384164.123412415'

      if (document.getElementById(id) !== null) {
        document.body.removeChild(document.getElementById(id))
      }

      let can = document.createElement('canvas')
      can.width = 350
      can.height = 120

      let cans = can.getContext('2d')
      cans.rotate(-20 * Math.PI / 180)
      cans.font = '15px Vedana'
      cans.fillStyle = 'rgba(0, 0, 0, 0.07)'
      cans.textAlign = 'left'
      cans.textBaseline = 'Middle'
      cans.fillText(str, can.width / 20, can.height )

      let div = document.createElement('div')
      div.id = id
      div.style.pointerEvents = 'none'
      div.style.top = '3px'
      div.style.left = '0px'
      div.style.position = 'fixed'
      div.style.zIndex = '100000'
      div.style.width = document.documentElement.clientWidth  + 'px'
      div.style.height = document.documentElement.clientHeight  + 'px'
      div.style.background = 'url(' + can.toDataURL('image/png') + ') left top repeat'
      document.body.appendChild(div)
    }
  </script>
  <%# filters %>
  <%
    const datetime = (date = new Date(), format = 'YYYY-MM-DD HH:mm:ss') => {
      const fn = (d) => {
        return ('0' + d).slice(-2)
      }

      const d = new Date(date)
      const formats = {
        YYYY: d.getFullYear(),
        MM: fn(d.getMonth() + 1),
        DD: fn(d.getDate()),
        HH: fn(d.getHours()),
        mm: fn(d.getMinutes()),
        ss: fn(d.getSeconds())
      }

      return format.replace(/([a-z])\1+/ig, a => {
        return formats[a] || a
      })
    }
    const getFileName = (name) => {
      if(!name) return;
      const fileName = name.slice(0, name.lastIndexOf('.'));
      return fileName;
    }
    const riskStatus = function(val){
      let Enum={
          RISK:'风险', NORMAL:'正常', UNKNOWN:'未知'
      }
      return Enum[val]
    }

    // 计算认证状态
    const approved = (item = { data: {} }) => {
      let statu = '';
      if (item.data.hasPass == true) {
          statu = '成功'
      } else if (item.data.hasPass == false && item.data.approved == true) {
          statu = '复核成功'
      } else if (item.data.hasPass == false) {
          statu = '失败'
      }
      return statu
    }

    // 认证方式
    const proveTypeFilter = (val) => {
      const customerProveType = {
        PICTURE:'图片导入',
        WITNESS_CARD_MACHINE:'人证机认证',
        PHONE:'手机认证'
      };
      return customerProveType[val]
    }

    const confidenceFilter = (val) => {
      if(val === 'high'){
        return '高'
      }else if(val === 'medium'){
        return  '中'
      }else{
        return  '低'
      }
    }

    const snapTypeFilter = (val) => {
        if (val == 'WITNESS_CARD_MACHINE') {
            return '人证机抓拍'
        } else if (val == 'MANUAL') {
            return '手动添加'
        }
    }

    const trackTypeFilter = (typeName, item) => {
      if (typeName == 'CHANNEL_REPORT_DELETE') {
        return '渠道报备';
      }
      if (typeName == 'FRESH_CARD') {
        return '客户认证';
      }
      if (typeName == 'ARRIVE') {
        if(userInfo.firstReadTime == datetime(item.data.arrivedTime)){
          return '有效最新登记到访时间';
        }else{
          return '登记到访';
        }
      }
      if (typeName == 'SIGN') {
        return '客户签约';
      }
      if (typeName == 'SUBSCRIBE') {
        return '客户认购';
      }
      if (typeName == 'CAMERA') {
        return '客户到访';
      }
      if (typeName == 'REPORT') {
        return '渠道报备';
      }
      if (typeName == 'CHANNEL_REPORT_UPDATE') {
        return '报备修改';
      }
      if (typeName == 'RECOGNITION_CHIP') {
        return '客户认筹';
      }
      if (typeName == 'CALL_IN') {
        return '客户来电';
      }
      if (typeName == 'CALL_OUT') {
        return '客户去电';
      }
      if (typeName == 'PHONE_CHANGE') {
        return '客户手机号变更';
      }
      if (typeName == 'REPORT_VALIDLY_CHANGE') {
        return '人工更改无效线索为有效';
      }
      if (typeName == 'NAME_CHANGE') {
        return '客户姓名变更';
      }
    }

    const riskCauseCustomer = function (obj) {
      const arr = [];
      const tmpMap = new Map([
        ['prepareReportRisk', '未提前报备'],
        ['limitReportRisk', '超出报备保护期'],
        ['limitFinishRisk', '超出成交保护期'],
        ['prepareReadRisk', '登记时间内无到访'],
        ['reportDayDealRisk', '报备当天成交'],
        ['nameChangeRisk', '客户姓名变更'],
        ['phoneChangeRisk', '客户手机号变更'],
        ['twoElementsRisk', '运营商三要素：手机号与客户不匹配'],
        ['reportValidlyChangeRisk', '人工更改无效线索为有效'],
        ['visitBeforeRegisterRisk', '登记前到访'],
      ])
      for (const [key, value] of tmpMap.entries()) {
        if (obj[key]) {
          arr.push(value)
        }
      }
      return arr.join(', ');
    }

    const validFilter = function (val) {
      if(typeof val == 'boolean'){
        return val
      }else if(typeof val == 'string'){
        if(val == 'true'){
          return true
        }else if(val == 'false'){
          return false
        }
      }
    }

    const getFlagText = (item)=>{
      const REPORT_MAP = {
        VALID_REPORT: '(有效报备)',
        INVALID_REPORT: '(无效报备)',
        EXPIRED_REPORT: '(失效：报备过期)',
        DUPLICATE_REPORT: '(失效：重复报备)',
        UNKNOWN: '',
      }
      return REPORT_MAP[item.data.reportType]
    }

    // const getFlagText = (item)=>{
    //   const { valid, expire } = item.data
    //   const last = item.last
    //   if(last && valid){
    //     return
    //   }
    //   if (valid === false || valid === 'false') {
    //     return '(无效报备)'
    //   }
    //   if(expire && new Date(expire) < new Date()){
    //     return '(报备过期)'
    //   }
    //   if(typeof valid === 'undefined'){
    //     return '(有效报备)'
    //   }
    //   return valid ? '(有效报备)' : '(无效报备)'
    // }


  %>
</head>
<body class="py-20">
<div class="w-card">
  <h1 class="f-18 text-center page__title"><span><%= userInfo.projectName%></span><span class="ml-15"><%= userInfo.name%></span></h1>
</div>
<div class="w-card mt-15 px-15 pb-20">
  <h2 class="head f-14 pt-15 pb-10">客户信息</h2>
  <table class="w-table mt-15" width="100%">
    <colgroup>
      <col>
      <col>
      <col width="200">
      <col>
      <col>
      <col>
      <col>
      <col>
    </colgroup>
    <thead>
      <tr>
        <th>客户认证图片</th>
        <th>客户姓名</th>
        <th>证件号码</th>
        <th>渠道名称</th>
        <th>电话号码</th>
        <th>房号</th>
        <th>置业顾问</th>
        <th>经纪人</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <img class="avatar" width="100" height="100" object-fit="contain" src="<%if(userInfo.newIdImage){%><%= userInfo.newIdImage %><%} else {%><%= `${SITE_URL}/img/avatar.png`%><%}%>" alt="">
        </td>
        <td><%= userInfo.name%></td>
        <td><%= userInfo.idNumber%></td>
        <td>
          <% if (userInfo.channelName != 'PERSONAL') { %>
           <%= userInfo.channelName %>
          <% } %>
        </td>
        <td><%= userInfo.mobile %></td>
        <td class="break-all">
          <%= userInfo.roomNo&&userInfo.roomNo.roomNo?userInfo.roomNo.roomNo:'' %>
        </td>
        <td><%= userInfo.salerName %> </td>
        <td><%= userInfo.agent %> </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="w-card mt-15 px-15 pb-20">
  <h2 class="head f-14 pt-15 pb-10">风险结论</h2>
  <table class="w-table mt-15" width="100%">
    <tbody>
      <tr>
        <td>
          <span class="text-info mr-10">系统判定结果</span>
          <% if(userInfo.riskStatus === 'RISK') { %>
            <span class="text-danger"><%= riskStatus(userInfo.riskStatus) %></span>
          <% } else if(userInfo.riskStatus === 'NORMAL') {%>
            <span class="text-success"><%= riskStatus(userInfo.riskStatus) %></span>
          <% } else if(userInfo.riskStatus === 'UNKNOWN') {%>
            <span><%= riskStatus(userInfo.riskStatus) %></span>
          <% } %>
        </td>
        <td>
          <span class="text-info mr-10">人工复核结果</span>
          <% if(userInfo.riskApproveStatus === 'RISK') { %>
            <span class="text-danger">风险</span>
          <% } else if(userInfo.riskApproveStatus === 'NORMAL') {%>
            <span class="text-success">正常</span>
          <% } else {%>
            <span>/</span>
          <% } %>
        </td>
        <td>
          <span class="text-info mr-10">风险原因</span>
          <% if(userInfo.riskStatus === 'RISK') { %>
          <span class="text-danger"><%= riskCauseCustomer(userInfo) %> </span>
          <% } else {%>
            /
          <% } %>
        </td>
        <td>
          <span class="text-info mr-10">复核人</span><span><%= userInfo.riskApproveUserName %> </span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="text-info mr-10">系统判定时间</span><span><%= userInfo.riskDetermineTime %> </span>
        </td>
        <td>
          <span class="text-info mr-10">人工复核时间</span><span><%= userInfo.riskApproveTime %> </span>
        </td>
        <td colspan="2">
          <span class="text-info mr-10">判定规则</span><span><%= userInfo.riskRuleAlias %></span>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <div class="d-flex">
            <span style="width:6em;" class="text-info flex-shrink-0">复核备注</span>
            <div class="break-all ml-10"><%= userInfo.combinRiskApproveRemark?userInfo.combinRiskApproveRemark:userInfo.approveRemark %> </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <div class="d-flex">
            <span style="width:6em;" class="text-info flex-shrink-0">附件链接</span>
            <div class="ml-10 d-flex flex-wrap flex-auto">
              <% if (userInfo.fileList) { %>
                <% userInfo.fileList.forEach((item) => { %>
                  <a href="<%= item.href%>" target="_blank" class="file-list__item d-flex align-center mr-20 text-primary"><i class="icon-file mr-5"></i> <span><%= getFileName(item.name)%></span></a>
                <%})%>
                <% if (!userInfo.fileList.length) { %>
                  <%= '/'%>
                <% }%>
              <% }%>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="w-card mt-15 px-15 pb-20">
  <h2 class="head f-14 pt-15 pb-10">客户底图</h2>
  <div class="pic-list d-flex flex-wrap justify-space-between">
    <% if (typeof passPhoto !== 'undefined') { %>
      <% passPhoto.forEach((item) => { %>
        <img src="<%= item.image%>" alt="">
      <%})%>
    <% } %>
  </div>
</div>
<div class="w-card mt-15 px-15 pb-20">
  <h2 class="head f-14 pt-15 pb-10">客户完整轨迹</h2>
  <table class="w-table mt-15" width="100%">
    <colgroup>
      <col width="200">
      <col>
      <col width="280">
      <col>
      <col width="140">
    </colgroup>
    <thead>
      <tr>
        <th>时间</th>
        <th>记录类型</th>
        <th>记录详情</th>
        <th>记录来源</th>
        <th>轨迹图片</th>
      </tr>
    </thead>
    <tbody>
      <% if (typeof trackList !== 'undefined') {%>
        <% trackList.forEach((item = { data: {} }) => { %>
          <%# 客户到访单独处理 需要展开详情%>
          <% if (item.name == 'CAMERA') { %>
            <% if (Array.isArray(item.data)) {
                item.data = item.data.sort((a, b) => {
                  return b.arrivedTime - a.arrivedTime;
                })
            } %>
            <% item.data && item.data.forEach((cameraItem) => { %>
            <tr <% if (cameraItem.riskMark) { %>class="text-danger"<% } %>>
              <td><%= datetime(cameraItem.arrivedTime)%></td>
              <td>
                <%= trackTypeFilter(item.name, item)%>
              </td>
              <td>
                <div>匹配分值：<%= cameraItem.confidenceScore%> <%= confidenceFilter(cameraItem.confidence)%></div>
              </td>
              <td>
                <div><%= cameraItem.imgTypeEnum=='ADDITIONAL' ? '手动添加' : cameraItem.source %></div>
              </td>
              <td>
                <% if (cameraItem.image) { %>
                  <img class="avatar" width="100" height="100" object-fit="contain" src="<%= cameraItem.image%>" alt="">
                <%}%>
              </td>
            </tr>
            <% })%>
          <% } else if (['CHANNEL_REPORT_UPDATE', 'REPORT'].includes(item.name)) { %>
            <tr <% if (item.data && item.data.riskMark) { %>class="text-danger"<% } %>>
              <td><%= item.time%></td>
              <td>
                <%= trackTypeFilter(item.name, item)%>
              </td>
              <td>
                <% if (item.data.name) { %>
                  <div>客户姓名：<%= item.data.name%></div>
                <%}%>
                <% if (item.data.mobile) { %>
                  <div>手机号码：<%= item.data.mobile%></div>
                <%}%>
                <% if (item.data.agent) { %>
                  <div>经纪人：<%= item.data.agent%></div>
                <%}%>
                <% if (item.data.channelCompany) { %>
                  <div>渠道名称：<%= item.data.channelCompany%></div>
                <%}%>
                <% if (item.data.reportType) { %>
                <div><%= getFlagText(item) %></div>
                <%}%>
                <% if (item.data.reportType === 'EXPIRED_REPORT' ) { %>
                <div>过期时间：<%= item.data.expire %></div>
                <%}%>
              </td>
              <td>
              </td>
              <td>
                <% if (item.data && item.data.image) { %>
                  <img class="avatar" width="100" height="100" object-fit="contain" src="<%= item.data.image%>" alt="">
                <%}%>
              </td>
            </tr>
          <% } else if (['FRESH_CARD', 'CHANNEL_REPORT_DELETE', 'SIGN', 'ARRIVE', 'RECOGNITION_CHIP', 'SUBSCRIBE', 'CALL_IN', 'CALL_OUT', 'PHONE_CHANGE', 'REPORT_VALIDLY_CHANGE', 'NAME_CHANGE'].includes(item.name)) { %>
            <tr <% if (item.data && item.data.riskMark) { %>class="text-danger"<% } %>>
              <td><%= item.time%></td>
              <td>
                <%= trackTypeFilter(item.name, item)%>
              </td>
              <td>
                <% if (item.name == 'FRESH_CARD') { %>
                  <div>认证方式：<%= proveTypeFilter(item.data && item.data.proveType)%> 认证状态：<%= approved(item)%></div>
                <%}%>
                <% if (item.name == 'ARRIVE') { %>
                  <div>置业顾问：<%= item.data ? item.data.salerName : '' %></div>
                  <div><%= item.data && item.data.arriveRegisterWay ? '登记类型：' : '' %> <%= item.data ? item.data.arriveRegisterWay : '' %></div>
                  <div><%= item.data ? item.data.desc : '' %></div>
                <%}%>
                <% if ((item.name == 'SIGN' || item.name == 'SUBSCRIBE') && item.data.roomNo) { %>
                  <div class="break-all">成交房号：
                    <%= item.data.roomNo ? item.data.roomNo : ''%>
                  </div>
                <%}%>
                <% if (item.name === 'RECOGNITION_CHIP' && item.data.roomNo) { %>
                  <div>成交房号：<%= item.data.roomNo ? item.data.roomNo : '' %></div>
                <%}%>
                <% if (['PHONE_CHANGE', 'NAME_CHANGE'].includes(item.name)) { %>
                  <div><%= item.data.description%></div>
                <%}%>
                <% if (['REPORT_VALIDLY_CHANGE'].includes(item.name)) { %>
                  <div>无效原因：<%= item.data.description%></div>
                <%}%>
              </td>
              <td>
                <% if (item.name == 'FRESH_CARD') { %>
                  <div><%= proveTypeFilter(item.data.proveType)%></div>
                <%}%>
                <% if (['RECOGNITION_CHIP'].includes(item.name)) { %>
                  <div><%= item.data.source %></div>
                <%}%>
                <% if (item.name == 'ARRIVE') { %>
                  <div><%= snapTypeFilter(item.data.proveType)%></div>
                <%}%>
              </td>
              <td>
                <% if (item.data && item.data.image) { %>
                  <img class="avatar" width="100" height="100" object-fit="contain" src="<%= item.data.image%>" alt="">
                <%}%>
              </td>
            </tr>
          <% } %>
        <% })%>
        <% if (trackList.length === 0) { %>
          <tr>
            <td colspan="6">
              <div class="text-info text-center">暂无数据</div>
            </td>
          </tr>
        <% } %>
      <% } %>
    </tbody>
  </table>
</div>
<% if (typeof waterMark !== 'undefined') {%>
<script>
  setWatermark('<%= waterMark%>');
</script>
<% } %>
</body>
</html>
