.d-block {
  display: block;
  width: 100% !important;
}

.d-inline {
  display: inline;
}

.d-none {
  display: none;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-baseline {
  align-items: baseline;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-baseline {
  align-self: baseline;
}

.align-self-auto {
  align-self: auto;
}

.align-self-stretch {
  align-self: stretch;
}

.flex-auto {
  flex: auto;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-center {
  align-content: center;
}

.align-content-space-between {
  align-content: space-between;
}

.align-content-space-around {
  align-content: space-around;
}

.align-content-stretch {
  align-content: stretch;
}

.align-content-end {
  align-content: flex-end;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.order-first {
  order: -1;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.f-12 {
  font-size: 12px;
}

.f-14 {
  font-size: 14px;
}

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-24 {
  font-size: 24px;
}

.text-normal {
  font-weight: normal;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #1890FF;
}

.text-danger {
  color: #F85B5B;
}

.text-info {
  color: #888;
}

.text-warning {
  color: #FC841E;
}

.text-success {
  color: #06a900;
}

.break-all {
  word-break: break-all;
}

/* padding */
.pa-2 {
  padding: 2px;
}

.px-2 {
  padding-left: 2px;
  padding-right: 2px;
}

.py-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.pt-2 {
  padding-top: 2px;
}

.pr-2 {
  padding-right: 2px;
}

.pb-2 {
  padding-bottom: 2px;
}

.pl-2 {
  padding-left: 2px;
}

.pb-n2 {
  padding-bottom: -2px;
}

/* margin */
.ma-2 {
  margin: 2px;
}

.my-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.mx-2 {
  margin-left: 2px;
  margin-right: 2px;
}

.mt-2 {
  margin-top: 2px;
}

.mr-2 {
  margin-right: 2px;
}

.mb-2 {
  margin-bottom: 2px;
}

.ml-2 {
  margin-left: 2px;
}

/* negative */
.ma-n2 {
  margin: 2px;
}

.mx-n2 {
  margin-left: -2px;
  margin-right: -2px;
}

.my-n2 {
  margin-top: -2px;
  margin-bottom: 2px;
}

.mt-n2 {
  margin-top: -2px;
}

.mr-n2 {
  margin-right: -2px;
}

.mb-n2 {
  margin-bottom: -2px;
}

.ml-n2 {
  margin-left: -2px;
}

/* padding */
.pa-3 {
  padding: 3px;
}

.px-3 {
  padding-left: 3px;
  padding-right: 3px;
}

.py-3 {
  padding-top: 3px;
  padding-bottom: 3px;
}

.pt-3 {
  padding-top: 3px;
}

.pr-3 {
  padding-right: 3px;
}

.pb-3 {
  padding-bottom: 3px;
}

.pl-3 {
  padding-left: 3px;
}

.pb-n3 {
  padding-bottom: -3px;
}

/* margin */
.ma-3 {
  margin: 3px;
}

.my-3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.mx-3 {
  margin-left: 3px;
  margin-right: 3px;
}

.mt-3 {
  margin-top: 3px;
}

.mr-3 {
  margin-right: 3px;
}

.mb-3 {
  margin-bottom: 3px;
}

.ml-3 {
  margin-left: 3px;
}

/* negative */
.ma-n3 {
  margin: 3px;
}

.mx-n3 {
  margin-left: -3px;
  margin-right: -3px;
}

.my-n3 {
  margin-top: -3px;
  margin-bottom: 3px;
}

.mt-n3 {
  margin-top: -3px;
}

.mr-n3 {
  margin-right: -3px;
}

.mb-n3 {
  margin-bottom: -3px;
}

.ml-n3 {
  margin-left: -3px;
}

/* padding */
.pa-4 {
  padding: 4px;
}

.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.pt-4 {
  padding-top: 4px;
}

.pr-4 {
  padding-right: 4px;
}

.pb-4 {
  padding-bottom: 4px;
}

.pl-4 {
  padding-left: 4px;
}

.pb-n4 {
  padding-bottom: -4px;
}

/* margin */
.ma-4 {
  margin: 4px;
}

.my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mx-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.mt-4 {
  margin-top: 4px;
}

.mr-4 {
  margin-right: 4px;
}

.mb-4 {
  margin-bottom: 4px;
}

.ml-4 {
  margin-left: 4px;
}

/* negative */
.ma-n4 {
  margin: 4px;
}

.mx-n4 {
  margin-left: -4px;
  margin-right: -4px;
}

.my-n4 {
  margin-top: -4px;
  margin-bottom: 4px;
}

.mt-n4 {
  margin-top: -4px;
}

.mr-n4 {
  margin-right: -4px;
}

.mb-n4 {
  margin-bottom: -4px;
}

.ml-n4 {
  margin-left: -4px;
}

/* padding */
.pa-5 {
  padding: 5px;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pt-5 {
  padding-top: 5px;
}

.pr-5 {
  padding-right: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.pb-n5 {
  padding-bottom: -5px;
}

/* margin */
.ma-5 {
  margin: 5px;
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-5 {
  margin-left: 5px;
}

/* negative */
.ma-n5 {
  margin: 5px;
}

.mx-n5 {
  margin-left: -5px;
  margin-right: -5px;
}

.my-n5 {
  margin-top: -5px;
  margin-bottom: 5px;
}

.mt-n5 {
  margin-top: -5px;
}

.mr-n5 {
  margin-right: -5px;
}

.mb-n5 {
  margin-bottom: -5px;
}

.ml-n5 {
  margin-left: -5px;
}

/* padding */
.pa-8 {
  padding: 8px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pt-8 {
  padding-top: 8px;
}

.pr-8 {
  padding-right: 8px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pl-8 {
  padding-left: 8px;
}

.pb-n8 {
  padding-bottom: -8px;
}

/* margin */
.ma-8 {
  margin: 8px;
}

.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.ml-8 {
  margin-left: 8px;
}

/* negative */
.ma-n8 {
  margin: 8px;
}

.mx-n8 {
  margin-left: -8px;
  margin-right: -8px;
}

.my-n8 {
  margin-top: -8px;
  margin-bottom: 8px;
}

.mt-n8 {
  margin-top: -8px;
}

.mr-n8 {
  margin-right: -8px;
}

.mb-n8 {
  margin-bottom: -8px;
}

.ml-n8 {
  margin-left: -8px;
}

/* padding */
.pa-10 {
  padding: 10px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pb-n10 {
  padding-bottom: -10px;
}

/* margin */
.ma-10 {
  margin: 10px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

/* negative */
.ma-n10 {
  margin: 10px;
}

.mx-n10 {
  margin-left: -10px;
  margin-right: -10px;
}

.my-n10 {
  margin-top: -10px;
  margin-bottom: 10px;
}

.mt-n10 {
  margin-top: -10px;
}

.mr-n10 {
  margin-right: -10px;
}

.mb-n10 {
  margin-bottom: -10px;
}

.ml-n10 {
  margin-left: -10px;
}

/* padding */
.pa-12 {
  padding: 12px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pt-12 {
  padding-top: 12px;
}

.pr-12 {
  padding-right: 12px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pl-12 {
  padding-left: 12px;
}

.pb-n12 {
  padding-bottom: -12px;
}

/* margin */
.ma-12 {
  margin: 12px;
}

.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.mx-12 {
  margin-left: 12px;
  margin-right: 12px;
}

.mt-12 {
  margin-top: 12px;
}

.mr-12 {
  margin-right: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}

.ml-12 {
  margin-left: 12px;
}

/* negative */
.ma-n12 {
  margin: 12px;
}

.mx-n12 {
  margin-left: -12px;
  margin-right: -12px;
}

.my-n12 {
  margin-top: -12px;
  margin-bottom: 12px;
}

.mt-n12 {
  margin-top: -12px;
}

.mr-n12 {
  margin-right: -12px;
}

.mb-n12 {
  margin-bottom: -12px;
}

.ml-n12 {
  margin-left: -12px;
}

/* padding */
.pa-15 {
  padding: 15px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pt-15 {
  padding-top: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.pb-n15 {
  padding-bottom: -15px;
}

/* margin */
.ma-15 {
  margin: 15px;
}

.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mx-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-15 {
  margin-left: 15px;
}

/* negative */
.ma-n15 {
  margin: 15px;
}

.mx-n15 {
  margin-left: -15px;
  margin-right: -15px;
}

.my-n15 {
  margin-top: -15px;
  margin-bottom: 15px;
}

.mt-n15 {
  margin-top: -15px;
}

.mr-n15 {
  margin-right: -15px;
}

.mb-n15 {
  margin-bottom: -15px;
}

.ml-n15 {
  margin-left: -15px;
}

/* padding */
.pa-20 {
  padding: 20px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pb-n20 {
  padding-bottom: -20px;
}

/* margin */
.ma-20 {
  margin: 20px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

/* negative */
.ma-n20 {
  margin: 20px;
}

.mx-n20 {
  margin-left: -20px;
  margin-right: -20px;
}

.my-n20 {
  margin-top: -20px;
  margin-bottom: 20px;
}

.mt-n20 {
  margin-top: -20px;
}

.mr-n20 {
  margin-right: -20px;
}

.mb-n20 {
  margin-bottom: -20px;
}

.ml-n20 {
  margin-left: -20px;
}

/* padding */
.pa-22 {
  padding: 22px;
}

.px-22 {
  padding-left: 22px;
  padding-right: 22px;
}

.py-22 {
  padding-top: 22px;
  padding-bottom: 22px;
}

.pt-22 {
  padding-top: 22px;
}

.pr-22 {
  padding-right: 22px;
}

.pb-22 {
  padding-bottom: 22px;
}

.pl-22 {
  padding-left: 22px;
}

.pb-n22 {
  padding-bottom: -22px;
}

/* margin */
.ma-22 {
  margin: 22px;
}

.my-22 {
  margin-top: 22px;
  margin-bottom: 22px;
}

.mx-22 {
  margin-left: 22px;
  margin-right: 22px;
}

.mt-22 {
  margin-top: 22px;
}

.mr-22 {
  margin-right: 22px;
}

.mb-22 {
  margin-bottom: 22px;
}

.ml-22 {
  margin-left: 22px;
}

/* negative */
.ma-n22 {
  margin: 22px;
}

.mx-n22 {
  margin-left: -22px;
  margin-right: -22px;
}

.my-n22 {
  margin-top: -22px;
  margin-bottom: 22px;
}

.mt-n22 {
  margin-top: -22px;
}

.mr-n22 {
  margin-right: -22px;
}

.mb-n22 {
  margin-bottom: -22px;
}

.ml-n22 {
  margin-left: -22px;
}

/* padding */
.pa-25 {
  padding: 25px;
}

.px-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.pt-25 {
  padding-top: 25px;
}

.pr-25 {
  padding-right: 25px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pl-25 {
  padding-left: 25px;
}

.pb-n25 {
  padding-bottom: -25px;
}

/* margin */
.ma-25 {
  margin: 25px;
}

.my-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.mx-25 {
  margin-left: 25px;
  margin-right: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.mr-25 {
  margin-right: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.ml-25 {
  margin-left: 25px;
}

/* negative */
.ma-n25 {
  margin: 25px;
}

.mx-n25 {
  margin-left: -25px;
  margin-right: -25px;
}

.my-n25 {
  margin-top: -25px;
  margin-bottom: 25px;
}

.mt-n25 {
  margin-top: -25px;
}

.mr-n25 {
  margin-right: -25px;
}

.mb-n25 {
  margin-bottom: -25px;
}

.ml-n25 {
  margin-left: -25px;
}

.ml-auto {
  margin-left: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.mr-auto {
  margin-right: auto;
}

[class^=icon] {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 1;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.icon-file {
  background-image: url("/img/icon-file.svg");
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 14px;
  background-color: #F3F6F8;
  font-weight: 500;
  font-family: "PingFang SC";
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.w-card {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: #FFF;
}

.w-table {
  border-radius: 5px;
  border: 1px solid #f2f3f6;
  table-layout: fixed;
  border-collapse: collapse;
}
.w-table thead {
  border-radius: 4px 4px 0 0;
  background: #f8fafc;
  color: #888888;
}
.w-table thead th {
  padding: 10px 20px 9px;
  text-align: left;
}
.w-table tbody td {
  padding: 15px 20px;
  border-bottom: 1px solid #f2f2f2;
}
.w-table--no-border tbody td {
  border-bottom: none;
}

.w-tag {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 13px;
}
.w-tag--danger {
  color: #F85B5B;
  background: #fff3f3;
}
.w-tag--success {
  color: #06a900;
  background: #e6f6e6;
}
.w-tag--info {
  color: #aaa;
  background: #f7f7f7;
}

.page__title {
  height: 55px;
  line-height: 55px;
}

.w-card > .head {
  border-bottom: solid 1px rgba(112, 112, 112, 0.3);
}

.avatar {
  border-radius: 5px;
  display: block;
}

.pic-list img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-right: 15px;
  margin-top: 15px;
}
.pic-list img:last-child {
  margin-right: auto;
}

.file-list__item {
  padding-bottom: 15px;
  padding-top: 0;
}
.file-list__item > span {
  max-width: 238px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
