[class^="icon"] {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
  }
  .icon-file {
    background-image: url('/img/icon-file.svg');
  }