$fontList: 12, 14, 16, 18, 24;
@each $i in $fontList{
  .f-#{$i} {
      font-size: #{$i}px;
  }
}
.text-normal {
  font-weight: normal;
}
.text-center {
  text-align: center;
}
.text-primary {
  color: #1890FF;
}
.text-danger {
  color: #F85B5B;
}
.text-info {
  color: #888;
}
.text-warning {
  color: #FC841E;
}
.text-success {
  color: #06a900;
}
.break-all {
  word-break: break-all;
}
