@import './common';
.page__title {
  height: 55px;
  line-height: 55px;
}
.w-card > .head {
  border-bottom: solid 1px rgba(112, 112, 112, .1);
}
.avatar {
  border-radius: 5px;
  display: block;
}
.w-table th {
  white-space: nowrap;
}
.timeline {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    height: 0;
    width: 100%;
    top: 51px;
    border-top: dashed 2px #1890ff;
  }
  &--empty::before {
    content: none;
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    &::after {
      position: absolute;
      content: '';
      width: 15px;
      height: 15px;
      font-size: 0;
      border-radius: 50%;
      background: #fff;
      border: 3px solid #1890ff;
      box-sizing: border-box;
      top: 44px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
// 附件列表
.file-list__item {
  padding-bottom: 15px;
  padding-top: 0;
  > span {
    max-width: 238px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
