@import './common';
.page__title {
  height: 55px;
  line-height: 55px;
}
.w-card > .head {
  border-bottom: solid 1px rgba(112, 112, 112, .1);
}
.avatar {
  border-radius: 5px;
  display: block;
}
.pic-list {
  img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 15px;
    margin-top: 15px;
    &:last-child {
      margin-right: auto;
    }
  }
}
// 附件列表
.file-list__item {
  padding-bottom: 15px;
  padding-top: 0;
  > span {
    max-width: 238px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
